html{
	background-color: lightgrey;
}

#container{
	min-height: 700px;
	background: url('../logo.png');
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: contain;
}

select{
	width: 100px;
	height: 50px;
	font-size: 20px;
/*	font-family: century-gothic;*/
	margin-left: 5%;
}

select option{
	margin: 10px;
}

/*
ul{
	width: 90%;
	margin: 0 auto;
	
}
*/

a{
	cursor: default;
	color: inherit;
	text-decoration: none;
}

button{
	padding: 10px;
/*	margin: 15px;*/
	border-radius: 5px 5px 5px 5px;
	width: 100px;
}

/*
a:hover{
		color: inherit;
}
*/

/*
ul li{
	display: inline-block;
	width: 20%;
	margin: 10px;;
	font-size: 20px;
	padding: 10px;
}
*/

#login{
	width: 90%;
	margin: 0 auto;
/*	border: 3px solid yellow;*/
}

#logo{
/*	width: 90%;*/
/*	border: 3px solid blue;*/
		text-align:center;

}

img{
	width: 400px;
	height: 10%;
}

#loginForm{
	text-align:center;
	margin-top: 30px;
}

input[type=text]{
	padding: 15px;
	margin: 7px;
	border-radius: 5px 5px 5px 5px;
}

input[type=submit]{
	padding: 10px;
	border-radius: 5px 5px 5px 5px;
	width:100px;
}

#submitButton{
		text-align:center;
}

h2{
	text-align: center;
	font-size: 50px;
	font-family: 'Chicle', cursive;
}

header{
/*	text-align: center;*/
}

header h2{
	font-size: 50px;
	text-align: left;
	margin-left: 15px;
}

#roomForm select{
	text-align: left;
	border-radius: 5px 5px 5px 5px;
	width: 200px;
}

#choice{
	width:100%;
	text-align: center;
}

#choice li{
	border-radius: 10px 10px 10px 10px;
	width: 200px;
	background-color: #bfbfbf;
}


.centered {
    align-content: center;
    max-width: 1000px;
    margin: 0 auto;
}


table{
	width: 100%;
	border-collapse: collapse;
	background-color:whitesmoke;
	border-radius: 5px 5px 5px 5px;
}


table tr{
	text-align: center;
    height: 50px;
}

table th{

}


table td{
    width: 16.5%;
	color: black;
}


table td:hover {
    background-color: darkgrey;    
}


#binaryTable{
	display:none;

}

#percentTable{
	display:none;

}

#off{
	display:none;
}

/* Set black background color, white text and some padding */
footer {
	background-color: #555;
	color: white;
	padding: 15px;
	position: relative;
	height: 150px;
	clear: both;
	padding-top:50px;
	margin-top: 50px;
}

/*#graph-container {
	margin: 10px;
}*/

