
/* sets up elements within body tags */

h1 {
    font: normal 20px "Times New Roman";
    font-family: "Times New Roman";
}

table, th {
    margin: 20px 20px 20px 20px;
}

body {
    color: black;
	font: normal 15px "Arial";
    margin: 0px;
}

ul {
    list-style: none;
    color: #A08958;
}

/*
li.label {
    font-weight: bold;
    color: #A08958;
}
*/


li {
    margin: 10px 0;
    color: #A08958;
}


tr:hover {
	color: #A08958;
/*    color: whitesmoke;*/
}

/* sets paramenters of text on header */
.pagetitle {
    color: #A08958;
    position: relative;
    float: left;
    top: 30px;
    left: -120px;
/*    margin-right: -1000px;*/

}

/* set paragraphs to square and line spacing */
.topimage {
    float:right;
    margin-left: -100px;
}

.navbar {
    float: right;
    position: relative;
}

#buttons {
    line-height:30px;
    background-color:lightblue;
    height:50px;
    width:100px;
    float:left;
    padding:5px;
}

/* parameters of a typical div */
.general {
	margin: 0 auto;
	padding: 0 10px;
	width: 80%;
    max-width: 1000px;
    clear: both;
}


/* controls the div that sits behind the header */
.headerbackground {
    margin: 0px;
    background-color: #007eba;
    position:relative
}


/* controls the header */
header {
    margin: 0px;
    background-color: #007eba;
}

a {
	text-decoration: none;
    color: #A08958;
    font: normal 15px "Arial";
}


/* controls how links should appear when hovered over */
a:hover {
	color: whitesmoke;
}

/* paramenters for centered divs */
.centered {
    align-content: center;
	margin:0 auto;
	padding: 0 10px;
	width: 80%;
    max-width: 1000px;
    clear: both;
}


/* controls how elements on the navbar should appear */
header nav {
    float: right;
}


/* force unordered list elements to display horizontally */
header nav ul li {
    float: left;
    display: inline-block;
    margin-bottom: 25px;
}


/* controls how list elements should appear */
header nav ul li a {
    display: block;
    margin-right: 30px;
    text-transform: uppercase;
}


/* controls how the footer class appears */
.footer {
    margin: 0 auto;
    color: #A08958;
    font: normal 15px "Arial";
    background: #0b2943;
    top: 15px;
    max-width: 1000px;
    text-align: right;
    line-height: 120%;
    padding: 10px;
}


/* controls the div that sits behind the footer */
.footerbackground {
    margin:0 auto;
    bottom: 0;
    position: relative;
    width: 80%;
/*    background-color: #393939;*/
}

/* Button container */
.progress-button {
	position: relative;
	display: inline-block;
	text-align: center;
	width: 25%;
	min-width: 125px;
	margin: 10px;
}