{% extends 'occupants/base.html' %}
{% load staticfiles %}
{% block title %}Add Data{% endblock %}
<!-- http://www.w3schools.com/bootstrap/bootstrap_tabs_pills.asp -->
<!-- http://codepen.io/wizly/pen/BIKxo/ -->

{% block body %}
<div class="container-fluid">
	<div class = "container-fluid">
        <ul class="nav nav-tabs">
            <li class="active" ><a href="#rooms" data-toggle = "tab">Rooms</a></li>
            <li ><a href="#modules" data-toggle = "tab">Modules</a></li>
	    	<li ><a href="#timemodule" data-toggle = "tab">Module Timetable</a></li>
            <li ><a href="#groundtruth" data-toggle = "tab">Ground truth</a></li>
            <li><a href="#wifilogs" data-toggle="tab">WiFi Logs</a></li>
        </ul> 
	</div>

	<div class= "tab-content clearfix">          
		<div class = "tab-pane active" id = "rooms">
			<div class = "container-fluid">
				<h1><a href="/Room/add/" ><span class ="glyphicon glyphicon-plus"></span></a></h1>
				<ul class = "list-group">
				    {% for room in rooms %}
				    <li class = "list-group-item"> {{ room }}
					<a href="/Room/{{ room }}/" ><span class ="glyphicon glyphicon-edit"></span></a>
					<a href="/Room/delete/{{ room }}/" ><span class ="glyphicon glyphicon-trash"></span></a>
				    </li>
				    {% endfor %}
				</ul>
			</div>
		</div>

		<div class = "tab-pane" id = "modules">
			<div class = "container-fluid">
				<h1><a href="/Module/add/" ><span class ="glyphicon glyphicon-plus"></span></a> </h1>
				<ul class = "list-group">
				    {% for module in modules %}
				    <li class = "list-group-item"> {{ module }}
					<a href="/Module/{{ module }}/"><span class ="glyphicon glyphicon-edit"></span></a>
					<a href="/Module/delete/{{ module }}/"> <span class ="glyphicon glyphicon-trash"></span> </a>
				    </li>
				    {% endfor %}
				</ul>
			</div>
		</div>

		<div class = "tab-pane" id = "timemodule">
			<div class = "container-fluid">
				<h1><a href="/TimeModule/add/" ><span class ="glyphicon glyphicon-plus"></span></a> </h1>
				<ul class = "list-group">
				    {% for timemodule in timemodule %}
				    <li class = "list-group-item"> {{ timemodule.datetime }} {{ timemodule.room }}
					<a href="/TimeModule/{{ timemodule.timemoduleid}}/"><span class ="glyphicon glyphicon-edit"></span></a>
					<a href="/TimeModule/delete/{{ timemodule.timemoduleid}}/"> <span class ="glyphicon glyphicon-trash"></span> </a>
				    </li>
				    {% endfor %}
				</ul> 
			</div>  
		</div>

		<div  class = "tab-pane" id = "groundtruth">
			<div class = "container-fluid">
				<h1><a href="/GroundTruth/add/" ><span class ="glyphicon glyphicon-plus"></span></a> </h1>
				
				<form action="" method="POST" role="form">{% csrf_token %} <!--form to select room using post method and sending a csrf token-->
		            <div class="form-group">
		                <select id="roomPicker" class="form-control" name="roomForm" placeholder="Room"> <!--submit on change-->
		                    <option value="" disabled selected>Room</option>
		                    {% for room in rooms %} <!--automatically generate the form options from roomList-->
		                        <option value="{{ room }}">{{ room }}</option>
		                    {% endfor %}
		                </select>
		            </div>
		            <div class="form-group">
	                	<input id="datePicker" class="form-control" name="dateForm" placeholder="DateTime"/>
	            	</div>
		            	<button type="button" class="btn btn-default" onclick="requestInfo()">Submit</button> 
            	</form>

				<!-- <ul class = "list-group">
				{% for groundtruth in groundtruth %}
				   <li class = "list-group-item"> {{ groundtruth.datetime }} {{ groundtruth.room }}
					<a href="/GroundTruth/{{ groundtruth.groundtruthid}}/"><span class ="glyphicon glyphicon-edit"></span></a>
					<a href="/GroundTruth/delete/{{ groundtruth.groundtruthid}}}/"> <span class ="glyphicon glyphicon-trash"></span> </a>
				    </li>
				    {% endfor %}
				</ul>  -->  
			</div>
		</div>

		<div  class = "tab-pane" id = "wifilogs">
			<div class = "container-fluid">
				<!-- Upload Wifi Logs -->
		        <h1><a href="/wifilogs" ><span class ="glyphicon glyphicon-plus"></span></a> </h1>
			</div>
		</div>
	</div>
</div>

<script>
// var groundtruth = {{ groundtruth|safe }};
// console.log(groundtruth);
// console.log(typeof(groundtruth));

// function requestInfo(){
// 	var roomForm = document.getElementById("roomPicker").value;
//     var dateForm = document.getElementById("datePicker").value;

//     for (item in groundtruth){
//     	console.log(item['Groundtruth']);
//     } 
// }

function requestInfo(){
		var roomForm = document.getElementById("roomPicker").value;
        var dateForm = document.getElementById("datePicker").value;

        // document.getElementById('room').innerHTML = roomForm;
        // document.getElementById('dateTime').innerHTML = dateForm;

        $.ajax({
            method: "POST",
            data: {'roomForm': roomForm, 'dateForm': dateForm, csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,},
            url: "formsRequest",

            success: function(result) {
                var info = result;
                console.log(info);
                	



            }
        });
}

</script>


{% endblock %}
