<!DOCTYPE html>

{% load staticfiles %}

<html>
	<head>
		<title>Ocu-Pants</title>
		
		<meta charset="utf-8">

		<link rel="stylesheet" href="{% static 'css/style.css' %}">
	</head>
	
	<body>
        <h2>B-004</h2>   
            
        <div class="centered">
            <table>
                <tr><th></th><th>Monday</th><th>Tuesday</th><th>Wednesday</th><th>Thursday</th><th>Friday</th></tr> 

                {% for y in var_time %}

                    <tr><th>{{ y }}:00</th>
                    {% for x in timeMod1 %}
                        {% if x.datetime.hour == y  %}
                            <td>{{ x.module.modulename }}</td>
                        {% endif %}
                    {% endfor %}
                    </tr>
                {% endfor %}

            </table>
        </div>
    </body>
</html>                