<!DOCTYPE html>

{% load staticfiles %} <!--Load the static folder will be referenced later-->

<html>
	<head>
		<title>Ocu-Pants</title>
		<meta charset="utf-8">
        <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="excanvas.js"></script><![endif]-->
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="http://cdn.jsdelivr.net/jqplot/1.0.8/jquery.jqplot.min.js"></script>
        <script src="http://cdn.jsdelivr.net/jqplot/1.0.8/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jqplot/1.0.8/plugins/jqplot.canvasTextRenderer.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jqplot/1.0.8/plugins/jqplot.canvasOverlay.min.js"></script>
        
<!--        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>   -->
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" href="{% static 'css/style.css' %}"> <!--load style.css from static folder-->
        <link rel="stylesheet" type="text/css" href="{% static 'Libraries/jqplot/jquery.jqplot.css' %}" />
	</head>
	
	<body>
       <form action="" method="POST">{% csrf_token %} <!--form to select room using post method and sending a csrf token-->
            <select name="roomForm"> <!--submit on change-->
                <option value="" selected></option>
                {% for room in roomList %} <!--automatically generate the form options from roomList-->
                <option value="{{ room.room }}">{{ room.room }}</option>
            {% endfor %}
            </select>
<!--            <select name="dateForm">   
                <option value="2015, 11, 2">02-11-2015</option>
                <option value="2015, 11, 9">09-11-2015</option>
            </select>-->
            <input id="datepicker" name="dateForm"/>
            <input type="submit" value="Submit" onclick="this.form.submit()">
            
        </form>
        
        <div class="centered"> <!--Display each field of the returned room object-->
            <h3>{{ roomObj.0.campus }}  {{ roomObj.0.building }}  {{ roomObj.0.room }}  {{ roomObj.0.capacity }}</h3><br>
        </div>
        
        <div class="centered" id="tableDiv" style="Display: block">
            <table> <!--Display the table headings-->
                <tr><th></th><th>Monday</th><th>Tuesday</th><th>Wednesday</th><th>Thursday</th><th>Friday</th></tr> 

                {% for y in timeList %} <!--build rows by identifing each timeslot 9am - 5pm in turn-->

                    <tr><th>{{ y }}</th>
                        
                    {% for timeSlot in roomSchedule %} <!--build columns by cycling through the object and displaying the module with the correct time-->
                        {% if timeSlot.datetime.hour == y.hour  %}
                            <td id="{{ timeSlot.timemoduleid }}" onmouseover="CellClick({{ timeSlot.timemoduleid }}), TestScript({{ timeSlot.timemoduleid }})">{{ timeSlot.module.modulename }}</td> <!--Display the cell-->
                        {% endif %}
                    {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="centered"> 
            <div id="graphDiv" style="float:left; height:500px; width:50%;"></div> 
            <div id="graphDiv2" style="float:left; height:500px; width:50%;"></div>
        </div>
        
        
        <div class="centered" id="testDiv0">test0</div>
        <div class="centered" id="testDivX">testX</div>
        <div class="centered" id="testDiv1">test1</div>
        <div class="centered" id="testDiv2">test2</div>
        <div class="centered" id="testDiv3">test3</div>
        <div class="centered" id="testDiv4">test4</div>
        <div class="centered" id="testDiv5">test5</div>
        <div class="centered" id="testList">testList</div>
        
        
    </body>
    
    <script>
        function CellClick(x) {
            var timeModuleId = x;
            $.ajax({
                method: "POST",
                data: {'timeModuleId': timeModuleId, csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,},
                url: "/graphGen",
                success: function(result) {
                    var graphData = result;
                    
                    if (graphData == 'error') {
                        document.getElementById('testDiv0').innerHTML = 'no data available';
                        document.getElementById('graphDiv').innerHTML = "";
                    } else {
                        document.getElementById('testDiv0').innerHTML = graphData;
                        document.getElementById('graphDiv').innerHTML = "";
                        
                        // create graph with various options
                        $(document).ready(function(){
                            
                            var avgDevices = [];
                            var sum = 0;
                            for (var i=0; i<graphData.length; i+=1) {
                                sum = sum + graphData[i];
                            }
                            var average = sum / graphData.length;
                            for (var i=0; i<graphData.length; i+=1) {
                                avgDevices.push(average);
                            }
                            
                            
                            var adjAvgDevices = [];
                            var sum = 0;
                            for (var i=2; i<graphData.length-2; i+=1) {
                                sum = sum + graphData[i];
                            }
                            var average = sum / (graphData.length -4);
                            for (var i=0; i<graphData.length; i+=1) {
                                adjAvgDevices.push(average);
                            }
                            
                            
                            
                            
                            var plot1 = $.jqplot ('graphDiv', [graphData, avgDevices, adjAvgDevices], 
                                                  {title: 'Devices', 
                                                   axesDefaults: {
                                                       labelRenderer: $.jqplot.CanvasAxisLabelRenderer
                                                   }, 
                                                   seriesDefaults:{
                                                       rendererOptions:{
                                                           smooth: true
                                                       }
                                                   },
                                                   series:[
                                                       {
                                                        color: 'blue',
                                                        lineWidth:1,
                                                        markerOptions: { style:"circle", size:1}
                                                       },
                                                       {
                                                        color: 'green',
                                                        lineWidth:1,
                                                        markerOptions: { style:"circle", size:0.1}
                                                       },
                                                       {
                                                        color: 'red',
                                                        lineWidth:1,
                                                        markerOptions: { style:"circle", size:0.1}   
                                                       }
                                                   ],
                                                   axes: { 
                                                       xaxis: {
                                                           label: 'time', 
                                                           pad: 0
                                                       }, 
                                                       yaxis:{
                                                           label: 'devices',
                                                           pad: 0,
                                                           //min: 0,
                                                           //max: 250
                                                       }
                                                   }});
                        });
                    }
                }
            });
        };           
    </script>
    
        
    <script>
        function TestScript(y) {
            var timeModuleId = y;
            $.ajax({
                method: "POST",
                data: {'timeModuleId': timeModuleId, csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,},
                url: "/test",
                success: function(result) {
                    var testData = result;
                    document.getElementById('testDiv1').innerHTML = testData;
                    document.getElementById('testDiv2').innerHTML = testData["registered"];
                    document.getElementById('testDiv3').innerHTML = testData["capacity"];
                    document.getElementById('testDiv4').innerHTML = testData["groundTruth"];
                    document.getElementById('testDiv5').innerHTML = testData["timeSlice"][0]["associated"];
                    
                    
                    
                    
                    if (testData == 'error') {
                        document.getElementById('testDivX').innerHTML = 'no data available';
                        document.getElementById('graphDiv2').innerHTML = "";
                    } else {
                        document.getElementById('testDivX').innerHTML = testData["timeSlice"][6]["associated"];
                        document.getElementById('graphDiv2').innerHTML = "";
                        
                        // create graph with various options
                        $(document).ready(function(){
                            
                            occNumb = []
                            regStu = []
                            roomCap = []
                            gndTruth = []
                            gndTruthTop = []
                            gndTruthBottom = []
                            
                            for (var i=0; i<testData["timeSlice"].length; i+=1) {
                                
                                occNumb.push(Math.round(testData["timeSlice"][i]["associated"]/1.27));
                                regStu.push(testData["capacity"]);
                                roomCap.push(testData["registered"]);
                                //gndTruth.push(Math.round(testData["capacity"] * testData["groundTruth"]));
                                
                                if (testData["groundTruth"] > 0) {
                                    gndTruthTop.push(Math.round(testData["capacity"] * (testData["groundTruth"] + 0.125)));
                                    gndTruthBottom.push(Math.round(testData["capacity"] * (testData["groundTruth"] - 0.125)));
                                } else {
                                    gndTruthTop.push(0);
                                    gndTruthBottom.push(0);
                                }
                            }
                            
                            
                            
                            
                            
                            
                            document.getElementById('testList').innerHTML = occNumb;
                            
                            var plot1 = $.jqplot ('graphDiv2', [occNumb, regStu, roomCap, gndTruthTop, gndTruthBottom], 
                                                  {title: 'Occupants', 
                                                   axesDefaults: {
                                                       labelRenderer: $.jqplot.CanvasAxisLabelRenderer
                                                   },
                                                   fillBetween:{
                                                       series1: 3,
                                                       series2: 4,
                                                       color: "rgba(227, 167, 111, 0.7)",
                                                       baseSeries: 0,
                                                   },
                                                   seriesDefaults:{
                                                       rendererOptions:{
                                                           smooth: true
                                                       }
                                                   },
                                                   series:[
                                                       {
                                                        color: 'blue',
                                                        lineWidth:1,
                                                        markerOptions: { style:"circle", size:1}
                                                       },
                                                       {
                                                        color: 'green',
                                                        lineWidth:1,
                                                        markerOptions: { style:"circle", size:0.1}
                                                       },
                                                       {
                                                        color: 'red',
                                                        lineWidth:1,
                                                        markerOptions: { style:"circle", size:0.1}   
                                                       },
                                                       {
                                                        color: 'yellow',
                                                        lineWidth:1,
                                                        markerOptions: { style:"circle", size:0.1}   
                                                       },
                                                       {
                                                        color: 'yellow',
                                                        lineWidth:1,
                                                        markerOptions: { style:"circle", size:0.1}   
                                                       }
                                                   ],
                                                   axes: { 
                                                       xaxis: {
                                                           label: 'time', 
                                                           pad: 0
                                                       }, 
                                                       yaxis:{
                                                           label: 'devices',
                                                           pad: 0,
                                                           min: 0,
                                                           max: Math.round((testData["capacity"] * 1.1))
                                                       }
                                                   },
                                                   canvasOverlay: {
                                                        show: true,
                                                        objects: [{
                                                            horizontalLine: {
                                                                name: 'Capacity',
                                                                y: testData["capacity"],
                                                                lineWidth: 3,
                                                                color: 'green',
                                                                shadow: true,
                                                            }},
                                                            {horizontalLine: {
                                                                name: 'Registered',
                                                                y: testData["registered"],
                                                                lineWidth: 3,
                                                                color: 'red',
                                                                shadow: true,
                                                                }
                                                            }]
                                                    }
                                                });
                        });
                    }
                    
                       
                    
                }
            })
        }
    </script>
    
    <script>
        $(document).ready(function() {
            $("#datepicker").datepicker();
        });
  </script>
    
</html>