<!DOCTYPE html>

{% load staticfiles %} <!--Load the static folder will be referenced later-->

<html>
	<head>
		<title>Ocu-Pants</title>
		<meta charset="utf-8">
        <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="excanvas.js"></script><![endif]-->
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="http://cdn.jsdelivr.net/jqplot/1.0.8/jquery.jqplot.min.js"></script>
        <script src="http://cdn.jsdelivr.net/jqplot/1.0.8/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jqplot/1.0.8/plugins/jqplot.canvasTextRenderer.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jqplot/1.0.8/plugins/jqplot.canvasOverlay.min.js"></script>
        
<!--        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>   -->
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" href="{% static 'css/style.css' %}"> <!--load style.css from static folder-->
        <link rel="stylesheet" type="text/css" href="{% static 'Libraries/jqplot/jquery.jqplot.css' %}" />
	</head>
	
	<body>
       <form action="" method="POST">{% csrf_token %} <!--form to select room using post method and sending a csrf token-->
            <select name="roomForm"> <!--submit on change-->
                <option value="" selected></option>
                {% for room in roomList %} <!--automatically generate the form options from roomList-->
                <option value="{{ room.room }}">{{ room.room }}</option>
            {% endfor %}
            </select>
<!--            <select name="dateForm">   
                <option value="2015, 11, 2">02-11-2015</option>
                <option value="2015, 11, 9">09-11-2015</option>
            </select>-->
            <input id="datepicker" name="dateForm"/>
            <input type="submit" value="Submit" onclick="this.form.submit()">
            
        </form>
        
        <div class="centered"> <!--Display each field of the returned room object-->
            <h3>{{ roomObj.0.campus }}  {{ roomObj.0.building }}  {{ roomObj.0.room }}  {{ roomObj.0.capacity }}</h3><br>
        </div>
        
        <div class="centered" id="tableDiv" style="Display: block">
            <table id="calTable">
            </table>
        </div>

        <div class="centered"> 
            <div id="graphDiv" style="float:left; height:500px; width:50%;"></div> 
            <div id="graphDiv2" style="float:left; height:500px; width:50%;"></div>
        </div>
        
        <button type="button" onclick="GenCalendar(3)">Click Me!</button>
        <div class="centered" id="testDiv0">test0</div>
        <div class="centered" id="testDivX">testX</div>
        <div class="centered" id="testDiv1">test1</div>
        <div class="centered" id="testDiv2">test2</div>
        <div class="centered" id="testDiv3">test3</div>
        <div class="centered" id="testDiv4">test4</div>
        <div class="centered" id="testDiv5">test5</div>
        <div class="centered" id="testList">testList</div>
        <button onclick="testTable()">Try it</button>
        
        
    </body>
    
    <script>
        
        function CellClick(x) {
            
            var timeModuleId = x;
            $.ajax({
                method: "POST",
                data: {'timeModuleId': timeModuleId, csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,},
                url: "/graphGen",
                success: function(result) {
                    var graphData = result;
                    
                    if (graphData == 'error') {
                        document.getElementById('testDiv0').innerHTML = 'no data available';
                        document.getElementById('graphDiv').innerHTML = "";
                    } else {
                        document.getElementById('testDiv0').innerHTML = graphData;
                        document.getElementById('graphDiv').innerHTML = "";
                        
                        // create graph with various options
                        $(document).ready(function(){
                            
                            var avgDevices = [];
                            var sum = 0;
                            for (var i=0; i<graphData.length; i+=1) {
                                sum = sum + graphData[i];
                            }
                            var average = sum / graphData.length;
                            for (var i=0; i<graphData.length; i+=1) {
                                avgDevices.push(average);
                            }
                            
                            
                            var adjAvgDevices = [];
                            var sum = 0;
                            for (var i=2; i<graphData.length-2; i+=1) {
                                sum = sum + graphData[i];
                            }
                            var average = sum / (graphData.length -4);
                            for (var i=0; i<graphData.length; i+=1) {
                                adjAvgDevices.push(average);
                            }
                            
                            
                            
                            
                            var plot1 = $.jqplot ('graphDiv', [graphData, avgDevices, adjAvgDevices], 
                                                  {title: 'Devices', 
                                                   axesDefaults: {
                                                       labelRenderer: $.jqplot.CanvasAxisLabelRenderer
                                                   }, 
                                                   seriesDefaults:{
                                                       rendererOptions:{
                                                           smooth: true
                                                       }
                                                   },
                                                   series:[
                                                       {
                                                        color: 'blue',
                                                        lineWidth:1,
                                                        markerOptions: { style:"circle", size:1}
                                                       },
                                                       {
                                                        color: 'green',
                                                        lineWidth:1,
                                                        markerOptions: { style:"circle", size:0.1}
                                                       },
                                                       {
                                                        color: 'red',
                                                        lineWidth:1,
                                                        markerOptions: { style:"circle", size:0.1}   
                                                       }
                                                   ],
                                                   axes: { 
                                                       xaxis: {
                                                           label: 'time', 
                                                           pad: 0
                                                       }, 
                                                       yaxis:{
                                                           label: 'devices',
                                                           pad: 0,
                                                           //min: 0,
                                                           //max: 250
                                                       }
                                            }
                                });
                        });
                    }
                }
            });
        };
        
    </script>
    
    
    <script>
        
        function testNewTable() {
            
            var table = document.createElement("calTable");
            
        }
        
        function testTable() {

            var table = document.getElementById("tableDiv");
            var newTable = document.createElement("calTable");
            var timeList = ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00'];
            var dayList = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'];
            
            
            
            var row = table.insertRow(0);
            var cell0 = row.insertCell(0);
            cell0.innerHTML = "";
            
            for (z=0; z<dayList.length; z+=1) {
                var cell = row.insertCell(z+1);
                cell.innerHTML = dayList[z];
            }
            
            for (x=0; x<timeList.length; x+=1) {
                var row = table.insertRow(x+1);
                var cell0 = row.insertCell(0);
                cell0.innerHTML = timeList[x];
                
                var testNumb = 0;
                
                for (y=0; y<dayList.length; y+=1){
                    var cell = row.insertCell(y+1);
                    cell.innerHTML = testNumb;
                    testNumb+=1;
                }
//                var cell1 = row.insertCell(calList(x-1));
                
//                var cell2 = row.insertCell(1);
//                cell1.innerHTML = "NEW CELL1";
//                cell2.innerHTML = "NEW CELL2";
            }
        }
        
        
        
        
        
        function GenCalendar(x) {
            // function to generate the claendar
            
            var test = x;
            var roomForm2 = 'B-004';
            var dateForm2 = '11/09/2015';
            
            $.ajax({
                method: "POST",
                data: {'roomForm2': roomForm2, 'dateForm2': dateForm2, csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,},
                url: "/calendarGen",
                
                success: function(result) {
                    
                    var calData = result;
                    
                    document.getElementById('testDiv1').innerHTML = calData;
                    document.getElementById('testDiv2').innerHTML = calData["room"];
                    document.getElementById('testDiv3').innerHTML = calData["time"];
                    document.getElementById('testDiv4').innerHTML = calData["timeSlots"];
                    document.getElementById('testDiv5').innerHTML = calData["timeSlots"][3];
                    
                    
                    if (calData == 'error') {
                        document.getElementById('testDivX').innerHTML = 'no data available';
                        document.getElementById('graphDiv2').innerHTML = "";
                    } else {
                        document.getElementById('testDivX').innerHTML = calData["room"]["roomName"];
                        document.getElementById('graphDiv2').innerHTML = "";
                    }
                    
                    for (var s=0; s<calData["times"].length; s+=1) {
                        var time = calData["times"][s];
                        
                        for (var i=0; i<calData["timeSlots"].length; i+=1) {
                        
                            calData["timeSlots"][i]["moduleName"];
                            calData["timeSlots"][i]["timeModuleId"];
                            
                        }
                    }
                }   
            })
        }    
            
    </script>
    
    
    <script>
        
        function TestScript(y) {
            // function to generate the graph
            
            var timeModuleId = y;
            $.ajax({
                method: "POST",
                data: {'timeModuleId': timeModuleId, csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,},
                url: "/test",
                success: function(result) {
                    var testData = result;
//                    document.getElementById('testDiv1').innerHTML = testData;
//                    document.getElementById('testDiv2').innerHTML = testData["registered"];
//                    document.getElementById('testDiv3').innerHTML = testData["capacity"];
//                    document.getElementById('testDiv4').innerHTML = testData["groundTruth"];
//                    document.getElementById('testDiv5').innerHTML = testData["timeSlice"][0]["associated"];
                    
                    
                    
                    
                    if (testData == 'error') {
                        document.getElementById('testDivX').innerHTML = 'no data available';
                        document.getElementById('graphDiv2').innerHTML = "";
                    } else {
                        document.getElementById('testDivX').innerHTML = testData["timeSlice"][6]["associated"];
                        document.getElementById('graphDiv2').innerHTML = "";
                        
                        // create graph with various options
                        $(document).ready(function(){
                            
                            var occNumb = []
                            var regStu = []
                            var roomCap = []
                            // var gndTruth = []
                            var gndTruthTop = []
                            var gndTruthBottom = []
                            
                            for (var i=0; i<testData["timeSlice"].length; i+=1) {
                                
                                occNumb.push(Math.round(testData["timeSlice"][i]["associated"]/1.27));
                                regStu.push(testData["capacity"]);
                                roomCap.push(testData["registered"]);
                                //gndTruth.push(Math.round(testData["capacity"] * testData["groundTruth"]));
                                
                                if (testData["groundTruth"] > 0) {
                                    gndTruthTop.push(Math.round(testData["capacity"] * (testData["groundTruth"] + 0.125)));
                                    gndTruthBottom.push(Math.round(testData["capacity"] * (testData["groundTruth"] - 0.125)));
                                } else {
                                    gndTruthTop.push(0);
                                    gndTruthBottom.push(0);
                                }
                            }
                            
                            var adjAverage = 0;
                            var sum = 0;
                            for (var i=2; i<testData["timeSlice"].length-2; i+=1) {
                                sum = sum + (testData["timeSlice"][i]["associated"]/1.27);
                            }
                            adjAverage = sum / (testData["timeSlice"].length -4);
                            
//                            document.getElementById('testList').innerHTML = occNumb;
                            
                            var plot1 = $.jqplot ('graphDiv2', [occNumb, regStu, roomCap, gndTruthTop, gndTruthBottom], 
                                                  {title: 'Occupants', 
                                                   axesDefaults: {
                                                       labelRenderer: $.jqplot.CanvasAxisLabelRenderer
                                                   },
                                                   fillBetween:{
                                                       series1: 3,
                                                       series2: 4,
                                                       color: "rgba(227, 167, 111, 0.7)",
                                                       baseSeries: 0,
                                                   },
                                                   seriesDefaults:{
                                                       rendererOptions:{
                                                           smooth: true
                                                       }
                                                   },
                                                   series:[
                                                       {
                                                        color: 'blue',
                                                        lineWidth:1,
                                                        markerOptions: { style:"circle", size:1}
                                                       },
                                                       {
                                                        color: 'green',
                                                        lineWidth:1,
                                                        markerOptions: { style:"circle", size:0.1}
                                                       },
                                                       {
                                                        color: 'red',
                                                        lineWidth:1,
                                                        markerOptions: { style:"circle", size:0.1}   
                                                       },
                                                       {
                                                        color: 'yellow',
                                                        lineWidth:1,
                                                        markerOptions: { style:"circle", size:0.1}   
                                                       },
                                                       {
                                                        color: 'yellow',
                                                        lineWidth:1,
                                                        markerOptions: { style:"circle", size:0.1}   
                                                       }
                                                   ],
                                                   axes: { 
                                                       xaxis: {
                                                           label: 'time', 
                                                           pad: 0
                                                       }, 
                                                       yaxis:{
                                                           label: 'devices',
                                                           pad: 0,
                                                           min: 0,
                                                           max: Math.round((testData["capacity"] * 1.1))
                                                       }
                                                   },
                                                   canvasOverlay: {
                                                        show: true,
                                                        objects: [
                                                            {horizontalLine: {
                                                                name: 'Capacity',
                                                                y: testData["capacity"],
                                                                lineWidth: 0.1,
                                                                color: 'green',
                                                                shadow: true,
                                                            }},
                                                            {horizontalLine: {
                                                                name: 'Registered',
                                                                y: testData["registered"],
                                                                lineWidth: 0.1,
                                                                color: 'red',
                                                                shadow: true,
                                                            }},
                                                            {dashedHorizontalLine: {
                                                                name: 'AdjustedAvg',
                                                                y: adjAverage,
                                                                lineWidth: 0.1,
                                                                color: 'black',
                                                                shadow: true,
                                                            }}]
                                                    }
                                                });
                        });
                    }   
                }
            })
        }
    </script>
    
    <script>
        $(document).ready(function() {
            $("#datepicker").datepicker();
        });
  </script>
    
</html>