{% extends 'occupants/base.html' %}
{% load staticfiles %}
{% block title %}Login{% endblock %}

{% block body %}
<h2>Ocu-pants</h2>

        <div id="login">
            <div id="logo">
                <img src="{% static 'images/logo.png' %}" alt="Logo">
            </div>

            <form id="loginForm">
                <input type="text" name="username" value="Username"><br>
                <input type="text" name="password" value="Password">
            </form>

            <div id="submitButton">
                <button type="button"><a href="{% url 'homepage' %}">Log-In</a></button>
                <input type="submit" value="Sign Up">

            </div>

        </div>
{% endblock %}


<!--
<html>
    
    <head>
        
        <title>homepage</title>
        
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    </head>
    
    <body>

        <h2>Ocu-pants</h2>

        <div id="login">
            <div id="logo">
                <img src="{% static 'images/logo.png' %}" alt="Logo">
            </div>

            <form id="loginForm">
                <input type="text" name="username" value="Username"><br>
                <input type="text" name="password" value="Password">
            </form>

            <div id="submitButton">
                <button type="button"><a href="{% url 'homepage' %}">Log-In</a></button>
                <input type="submit" value="Sign Up">

            </div>

        </div>

    </body>

</html>-->
