{% extends 'occupants/base.html' %}
{% load staticfiles %}
{% block title %}Homepage{% endblock %}

{% block body %}
<!-- http://www.w3schools.com/googleapi/tryit.asp?filename=tryhtml_map_overlays_animate-->
<div class="container-fluid">
  <div class="row content">

    <div class="col-sm-9 text-left">
      <h1 class="h1">Welcome</h1>
      <p>{{rooms}}</p>
    </div>

    <div class = "col-md-3 text-center" >
      <div class="panel panel-default">
        <div class="panel-heading">Help us develop our system!</div>
        <div class="panel-body">
          <p><a href="https://docs.google.com/a/ucdconnect.ie/forms/d/e/1FAIpQLSepYj5I2pHiR3xu_iC4PCjKCm18MczupP6mlfvK9TUvT9ePbQ/viewform?c=0&w=1">Take part in our survey </a></p>
        </div>
      </div>

       <div class="panel panel-default">
        <div class="panel-heading">Administration</div>
        <div class="panel-body">
          <p>This site allows lecturers/administrators add rooms information, module information, timetabling information and ground truth data to our model. If you would like to request access to     these features, please hit 'sign up'.</p>
        </div>
      </div>
    </div>

    <!-- <div class="col-sm-2 sidenav">
      <div class="well">
        <h3 class = "h3">Help us develop our system!</h3>
        <p><a href="https://docs.google.com/a/ucdconnect.ie/forms/d/e/1FAIpQLSepYj5I2pHiR3xu_iC4PCjKCm18MczupP6mlfvK9TUvT9ePbQ/viewform?c=0&w=1">Take part in our survey </a></p>
      </div>
      <div class="well">
        <h3 class = "h3">Administration </h3>
        <p> This site allows lecturers/administrators add rooms information, module information, timetabling information and ground truth data to our model. If you would like to request access to 		these features, please hit 'sign up'.</p>
      </div>
    </div>  -->

    <div class="col-sm-12 text-left">
      <h2 class = "h2" > Need to know where you are? Check the map below!</h2>
      <div id="googleMap" style="width:100%;;height:500px; "></div>
    </div>
  </div>
</div>


<script>
var myCenter=new google.maps.LatLng(53.308076 ,-6.225042);
var marker;

function initialize()
{
var mapProp = {
  center:myCenter,
  zoom:17,
  mapTypeId:google.maps.MapTypeId.ROADMAP
  };

var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

var marker=new google.maps.Marker({
  position:myCenter,
  animation:google.maps.Animation.BOUNCE
  });

marker.setMap(map);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>



{% endblock %}

